# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Tesztverseny.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\学校\Jetbrains\C#\Tesztverseny\.idea\.idea.Tesztverseny\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
